.counter {
    display: flex;
    margin: 10px;
    padding-left: 2px;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    background-color: wheat;
}

.counter-number {
    padding: 6px;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.arrow-button {
    display: flex;
    margin: 2px;
    width: 55px;
    height: 55px;
    background-color: rgb(200, 197, 197);
    cursor: pointer;
    color: rgb(150, 150, 233);
}

.arrow-button:hover {  
    background-color: rgb(138, 138, 224);
    color: green
}
